/* rayhan chowdhury*/
body {
     background-color:#FFFFCC;
	 
	 
}

table {
     background-color:#FFFFFF;
	 
}


.text {
   color: black; 
   font-family: arial; 
   font-size: 14;
   }

.text2 {
   color: black;
   font-family: arial;
   font-size: 32;
   text-align: center;
   background-color: #22212

}
   
 
.table2 {
   
float:right;
}

